<div class="friendlist custom-scrollabar">
  <span *ngIf="friends.length === 0" id="no-friends-text"
    >Start chatting by adding someone to your friend list.</span
  >
  <div *ngIf="friends.length !== 0" class="friendlist__friends">
    <div
      *ngFor="let friend of friends"
      class="friend-container"
      (click)="this.selectRecipientEvent.emit(friend)"
    >
      <div class="friend">
        <img
          src="./assets/avatarPlaceholder.png"
          alt=""
          class="rounded-avatar-sm"
        />
        <span>
          {{ friend.username }}
        </span>
      </div>
    </div>
  </div>
</div>
