ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.friendlist {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  overflow-y: scroll; 
}

.friend-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  text-align: center;
  height: 50px;
  border-block-end: thin solid #e9edef; 
}

.friend{
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding: 5px;
}
