button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--outer-background);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 2vh;
    text-align: center;
}

#buttons-container{
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: center;
}

#whatsapp-logo{
    height: auto; 
    width: 4vw; 
    min-width: 50px;
}

#title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}