<h1>Welcome back {{ loginForm.value.username }} !</h1>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <input
    id="username"
    type="text"
    formControlName="username"
    #username
    placeholder="Username"
  />

  <div *ngIf="formFieldHasError('username')">
    <span
      *ngIf="formFieldHasErrorOfType('username', 'required')"
      class="error-message"
    >
      Please enter username
    </span>
    <span
      *ngIf="formFieldHasErrorOfType('username', 'minlength')"
      class="error-message"
    >
      Username must be at least 4 characters long
    </span>
  </div>
  <input
    id="password"
    type="password"
    formControlName="password"
    placeholder="Password"
  />
  <div *ngIf="formFieldHasError('password')">
    <span
      *ngIf="formFieldHasErrorOfType('password', 'required')"
      class="error-message"
    >
      Please enter password
    </span>
    <span
      *ngIf="formFieldHasErrorOfType('password', 'minlength')"
      class="error-message"
    >
      Password must be at least 5 characters long
    </span>
  </div>
  <button type="submit" [disabled]="isWaitingForServerResponse">Login</button>
  <div *ngIf="submitted && loginFailed" style="color: red">
    Login failed, please check your credentials and try again
  </div>

  <div *ngIf="submitted && serverError" style="color: red">
    There was an error contacting the server, please try again later
  </div>
</form>
